[run]
source = src
branch = True
omit =
    src/ui/*
    src/assets/*
    src/render/*
    src/game.py
    src/engine/map_generator.py

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError

[html]
directory = htmlcov

[xml]
output = coverage.xml
